<div class="CitySearch">

  <input type="text" class="CitySearch__input" placeholder="Search city" autocomplete="off" v-model="query" @keydown.down="down" @keydown.up="up" @keydown.enter="hit" @keydown.esc="reset" @blur="reset" @input="update" />

  <i class="fa fa-spinner fa-spin" v-if="loading"></i>
  <div v-else>
    <i class="fa fa-search" v-show="isEmpty"></i>
    <i class="fa fa-times" v-show="isDirty" @click="reset"></i>
  </div>

  <ul v-show="hasItems">
    <li v-for="(item, index) in items" :class="activeClass(index)" @mousedown="hit" @mousemove="setActive(index)">
      <span class="name" v-text="item.name"></span>
    </li>
  </ul>

</div>
