// do proper sass later, these are hacks
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #41b883;
// $brand-success:             #5cb85c !default;
// $brand-info:                #5bc0de !default;
// $brand-warning:             #f0ad4e !default;
// $brand-danger:              #d9534f !default;
$brand-inverse:             $gray-dark !default;

.CitySearch {
  position: relative;

  .CitySearch__input {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 14px 25px;
    line-height: 1.42857143;
    font-weight: 300;
    letter-spacing: 1px;
    color: $gray-dark;
    background: #fff;
    border: none;
    transition: all 0.15s;
    &:focus {
      background: $gray-lightest;
      outline: 0;
    }
  }

  .fa-times {
    cursor: pointer;
  }

  i {
    float: right;
    position: absolute;
    top: 17px;
    right: 20px;
    opacity: 0.4;
  }

  ul {
    position: absolute;
    padding: 0;
    min-width: 100%;
    background-color: $gray-lightest;
    list-style: none;
    z-index: 1000;
    border: 1px;

    li {
      padding: 14px 25px;
      cursor: pointer;
      transition: all 0.15s;

      &:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom: 0;
      }

      &.active {
        background-color: $brand-primary !important;
      }

      &.active span {
        color: white;
      }

      span {
        display: block;
        color: $gray-dark;

        &.name {
          font-weight: 300;
          font-size: 16px;
        }
      }
    }
  }
}
