@import "variables";

.CitySearch {
  position: relative;
  padding-bottom: 50px;

  input {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 14px 0;
    line-height: 1.42857143;
    font-weight: 300;
    letter-spacing: 1px;
    color: $gray-dark;
    background: #fff;
    border: none;
    transition: all 0.25s;

    &:focus {
      padding: 14px 25px;
      background: $gray-light;
      color: #fff;
      outline: 0;
    }
  }

  .fa-spinner {
    color: #fff;
  }

  .fa-search {
    right: 5px;
    &.focused {
      right: 20px;
      color: #fff;
    }
  }

  .fa-times {
    cursor: pointer;
    color: #fff !important;
  }

  i {
    float: right;
    position: absolute;
    top: 17px;
    right: 20px;
    transition: all 0.25s;
    opacity: 0.9;
  }

  ul {
    position: absolute;
    padding: 0;
    min-width: 100%;
    background-color: $gray-lightest;
    list-style: none;
    z-index: 1000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    li {
      padding: 14px 25px;
      cursor: pointer;
      transition: all 0.15s;

      &:last-child {
        border-bottom: 5px solid $brand-primary;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      &.active {
        background-color: $brand-primary !important;
      }

      &.active span {
        color: white;
      }

      span {
        display: block;
        color: $gray-dark;

        &.name {
          font-weight: 300;
          font-size: 16px;
        }
      }
    }
  }
}
