@import "variables";

.temp-input {
  cursor: ew-resize;
  display: flex;
  * {
    transition: opacity $tr2, color $tr2;
  }
  .clear {
    color: #fff;
    cursor: pointer;
    opacity: 1;
  }
  .label {
  }
  .val {
    color: #fff;
  }
  &.unset {
    opacity: 0.5;
    .clear {
      color: unset;
      cursor: ew-resize;
    }
    .val {
      color: unset;
    }
  }
  span {
    font-size: $font-size-h5;
    &.label {
      flex-basis: 30%;
    }
    &.val {
      flex-basis: 70%;
      text-align: right;
    }
  }
}
