@import "variables";

$fontsize: $font-size-h5;

.temp-input {
  display: flex;
  cursor: ew-resize;
  font-size: $fontsize;
  color: $gray;

  .left {
    position: relative;
    flex-basis: 70%;

    .button {
      position: absolute;
      top: 0;
      cursor: pointer;
      transform: none;
      transform-origin: center left;
      color: $gray-lightest;
      transition: opacity $tr2, color $tr2, transform $tr2;
    }
    .label {
      // only statically positioned element, sets the height of component
      transform: translateX(1.2 * $fontsize);
      transition: transform $tr2;
    }
  }

  &.unset .left {
    .button {
      opacity: 0;
      transform: rotateY(90deg);
      color: unset;
    }
    .label {
      transform: none;
    }
  }

  .right {
    position: relative;
    flex-basis: 30%;
    text-align: right;

    .pan-guide {
      position: absolute;
      width: 100%;
      right: 0;
      .arrow {
        width: 10%;
        text-align: center;
      }
      .hand {
        width: 60%;
        text-align: center;
        animation: wiggle 2.5s ease-in-out infinite;
      }
    }

    .value {
      position: absolute;
      width: 100%;
      right: 0;
    }
  }

  .fade-enter-active {
    transition: opacity $tr1 $tr1 ease-out;
  }
  .fade-leave-active {
    transition: opacity $tr1 ease-out;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  @keyframes wiggle {
    55%, 75% {
      transform: translateX(-0.25rem);
    }
    0%, 50%, 95%, 100% {
    transform: translateX(0);
    }
    65%, 85% {
      transform: translateX(0.35rem);
    }
  }

}
