#app, #offcanvas-wrap, #offcanvas-trigger, #offcanvas-trigger>i, #content-wrap {
  transition: opacity 0.5s, transform 0.5s, background 0.5s, color 0.5s, box-shadow 1s;
}


#app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  #offcanvas-wrap {
    // background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 7rem;
  }

  #offcanvas-trigger {
    background: $brand-primary;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    i {
      // position: absolute;
      margin-top: 0.5rem;
      font-size: 4rem;

      color: $gray-light;
      cursor: pointer;
    }
    box-shadow: $box-shadow-2;
  }

  #content-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
  }





  // TRANSFORMS, ANIMATIONS

  #offcanvas-wrap {
    transform: translateX(-100%);
  }

  #offcanvas-trigger {
    i {
      color: transparent;
    }
  }

  &.open {
    #offcanvas-wrap {
    }
    #offcanvas-trigger {
      transform: translateX(2.2rem);
      box-shadow: none;
      i {
        color: #fff;
      }
    }
  }


  @media (min-width: #{map-get($grid-breakpoints, xs)}) and (max-width: #{map-get($grid-breakpoints, sm)}) {

    #offcanvas-wrap {
      width: 80%;
    }

    #offcanvas-trigger {
    }

    &.open {
      #offcanvas-wrap {
        transform: translateX(0);
      }
      #offcanvas-trigger {
      }
      #content-wrap {
        transform: translateX(90%);
      }
    }

  }

  @media (min-width: #{map-get($grid-breakpoints, sm)}) and (max-width: #{map-get($grid-breakpoints, xl)}) {

    #offcanvas-wrap {
      width: 40%;
    }

    #offcanvas-trigger {
    }

    &.open {
      #offcanvas-wrap {
        transform: translateX(0);
      }
      #offcanvas-trigger {
      }
      #content-wrap {
        transform: translateX(50%);
      }
    }

  }

  @media (min-width: #{map-get($grid-breakpoints, xl)}) {

    #offcanvas-wrap {
      width: 20%;
    }

    #offcanvas-trigger {
    }

    &.open {
      #offcanvas-wrap {
        transform: translateX(0);
      }
      #offcanvas-trigger {
      }
      #content-wrap {
        transform: translateX(25%);
      }
    }

  }


}
