@import "variables";
@import "~bootstrap/scss/_mixins";

::selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

::-moz-selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

::-webkit-selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  height: 100%;
}

* {
  user-select: none;
}

input{
  user-select: initial;
}

p {
  font-size: $font-size-h5;
  font-weight: 300;
  color: $gray-light;
}

h1, h2, h3, h4, h5 {
  color: $gray;
}
