@import "default-variables";

$gray-dark: #373a3c;
$gray: #55595c;
$gray-light: #818a91;
$gray-lighter: #eceeef;
$gray-lightest: #f7f7f9;

$brand-primary: #16aca8;
$brand-success: #16aca8;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-inverse: $gray-dark;

$navbar-light-color: rgba(0,0,0,.5);
$navbar-light-hover-color: rgba(0,0,0,.7);
$navbar-light-active-color: $gray-dark;
$navbar-light-disabled-color: rgba(0,0,0,.3);
$navbar-light-toggler-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
$navbar-light-toggler-border: rgba(0,0,0,.1);

// $navbar-border-radius: $border-radius;
$navbar-padding-x: $spacer;
$navbar-padding-y: $spacer;
$navbar-brand-padding-y: 0.25rem;
$navbar-divider-padding-y: 0.425rem;
