<div class="LocationCard" v-bind:class="{ open: isOpen, dark: isDark }" v-on-clickaway="close">

  <!-- secondary content / bottom layer: settings -->
  <div class="lc-sec">
    <temp-input :val="data.tempThresholds.minC">MIN</temp-input>
    <temp-input :val="data.tempThresholds.minC">MAX</temp-input>
  </div>

  <!-- primary content / top layer container: needed for animations -->
  <div class="lc-prim-ct drag-handle">

    <!-- primary content / top layer: data -->
    <div v-if="isLoading" class="lc-prim" v-on:click="toggle">
      <loader></loader>
    </div>

    <!-- primary content / top layer: data -->
    <div v-else class="lc-prim" v-on:click="toggle">
      <div class="lc-data">
        <div class="lc-data-name">{{ data.locationName }}</div>
        <div class="lc-data-currenttemp">{{ data.currentTemp }} °C</div>
      </div>
      <i class="lc-weathericon fa" v-bind:class="weatherConditionsFAIcon" ></i>
    </div>

  </div>

  <!-- delete button -->
  <!-- visible with lc-sec on xs, with lc-prim on larger screens - can't be child of either -->
  <i class="lc-ctrl-delete fa fa-trash-o" v-on:click="deleteCard"></i>

</div>
