<div class="LocationCard" v-bind:class="{ open: state.open, night: night }" v-on-clickaway="close">

  <!-- secondary content / bottom layer: settings -->
  <div class="lc-sec" v-on:click="toggleOpen">
  </div>

  <!-- primary content / top layer container: needed for animations -->
  <div class="lc-prim-ct">

    <!-- primary content / top layer: data -->
    <div v-if="state.loading" class="lc-prim">
      <loader></loader>
    </div>

    <!-- primary content / top layer: data -->
    <div v-else class="lc-prim" v-on:click="toggleOpen">
      <div class="lc-data">
        <div class="lc-data-name">{{ name }}</div>
        <div class="lc-data-currenttemp">{{ currentTemp }} °C</div>
      </div>
      <i class="lc-weathericon fa" v-bind:class="weatherConditionsFAIcon" ></i>
    </div>

  </div>

  <!-- delete button -->
  <!-- visible with lc-sec on xs, with lc-prim on larger screens - can't be child of either -->
  <i class="lc-ctrl-delete fa fa-trash-o" v-on:click="deleteCard"></i>

</div>
