<div class="location-card" v-bind:class="{ open: isOpen, 'drag-handle': !isOpen, dark: isDark, 'content-raised': isRaised }">

  <!-- secondary content / bottom layer: settings -->
  <div class="lc-sec">
    <temp-input :val="data.tempThresholds.minC" :settings="{ 'min' : -40, 'max': data.tempThresholds.maxC, 'initial': data.currentTemp }" v-on:newval="setMinThresh">MIN</temp-input>
    <temp-input :val="data.tempThresholds.maxC" :settings="{ 'min' : data.tempThresholds.minC, 'max': 40, 'initial': data.currentTemp }" v-on:newval="setMaxThresh">MAX</temp-input>
  </div>

  <!-- primary content / top layer container: needed for animations -->
  <div class="lc-prim-ct">

    <!-- primary content / top layer: data -->
    <div v-if="isLoading" class="lc-prim">
      <loader></loader>
    </div>

    <!-- primary content / top layer: data -->
    <div v-else class="lc-prim" @click="toggle">
      <div class="lc-alert" v-bind:class="{low: isLow, high: isHigh }"></div>
      <div class="lc-data">
        <div class="lc-data-name">{{ data.locationName }}</div>
        <div class="lc-data-currenttemp">{{ data.currentTemp }} °C</div>
      </div>
      <i class="lc-weathericon fa" v-bind:class="weatherConditionsFAIcon" ></i>
    </div>

  </div>

</div>
