@import "variables";

.LocationCard {
  .card-container {
    position: relative;
    padding: 15px 25px;
    margin-bottom: 20px;
    transition: all 1s;
    background: $gray-lightest;
    color: $gray-light;
    &.night {
      background: $gray-light;
      color: $gray-lightest;
    }
    .loader-icon {
      width: 100%;
      text-align: center;
    }
    .weather-icon {
      position: absolute;
      text-align: center;
      width: 70px;
      right: 20px;
      top: 13px;
    }
  }
}
