<div class="about">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-lg-8 col-xl-7">
        <h1>YET<br/>ANOTHER<br/>WEATHER<br/>APP</h1>
        <p>
          Howdy user! Curious about what this is and does? Read on!
        </p>

        <h3>WHAT</h3>
        <p>Monitor the weather in different locations. Set "low" and "high" temperature alerts, be reminded if the temperature goes below or above those thresholds. How exciting!</p>

        <h3>HOW</h3>
        <p>Locations are displayed as cards, you can <strong>poke</strong>, <strong>rub</strong> and <strong>drag</strong> them.</p>
        <p>There is only <strong>one way to do everything</strong>! One way to add, remove, move or modify, and you can only <strong>do one thing at a time</strong>.</p>
        <p>Everything is animated. It's <strong>slow and soothing</strong>, since this isn't a productiviy app. You're supposed to be poking it when you're thinking about taking some time off. <strong>Slow living, folks</strong>!</p>
        <p>The palette is reduced to four colours and five shades of gray. One font family is used. No raster images (except for favicons). Easy on the eyes <strong>and your phone bill</strong>.</p>
        <p>Speaking of phones, it should work and look good on yours. <strong>Save it to your home screen</strong>!</p>
        <p>Last but not least: <strong>everything is synced</strong>, real-time. Pop open two of these babies on different devices, log in as the same user (or anonymously) and see the magic. Thanks, <a href="http://firebase.google.com/">Firebase</a>!</p>

        <h3>WHY</h3>
        <p>This is a job <strong>application</strong>. Pun intended.</p>
        <p>I also needed to get familiar with a modern front-end framework/library, ES6, webpack and s'more things.</p>
        <p>I took my time.</p>

        <br>

        <h3>ONE MORE THING...</h3>
        <p>Weather and location data is provided by <a href="http://openweathermap.org/">OpenWeatherMap</a>, because their API gives you the most with a free account. But this free account either works or it doesn't, and even when it does, it doesn't always.</p>
      </div>
    </div>
  </div>

</div>
