@import "variables";

.navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 2rem;
    text-align: left;
    .title {
      cursor: pointer;
      font-size: $font-size-h1 * 1.3;
      font-weight: bold;
      letter-spacing: 0;
      color: $brand-primary;
      margin-top: 4rem;
      margin-bottom: 1rem;
    }
    a {
      // padding-left: 0.5rem;
      display: block;
      text-transform: uppercase;
      font-size: $font-size-h2;
      font-weight: bold;
      transition: all 0.5s;
      color: $gray-dark;
      &:active, &:visited, &.active {
        text-decoration: none;
        color: $gray-dark;
      }
      &:hover {
        text-decoration: none;
        color: $gray-light;
      }
    }
  }
}
