@import "variables";
@import "~bootstrap/scss/_mixins";

.navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 2rem;
    text-align: left;
    .title {
      cursor: pointer;
      font-size: $font-size-h1;
      font-weight: bold;
      letter-spacing: 0;
      color: $brand-primary;
      margin-top: 4rem;
      margin-bottom: 1rem;
    }
    a {
      display: block;
      text-transform: uppercase;
      line-height: 1.1;
      font-size: $font-size-h1;
      font-weight: $headings-font-weight;
      transition: all 0.5s;
      color: $gray;
      &:active, &:visited, &.active {
        text-decoration: none;
        color: $gray;
      }
      &:hover {
        text-decoration: none;
        color: $gray-light;
      }
    }
    @include media-breakpoint-only(xs) {
      padding-left: 1rem;
      .title {
        margin-bottom: 0.25rem;
      }
    }
  }
}
