@import "variables";

$ls-margin-bottom: ($spacer-y * 3);

$ls-input-fontsize: $font-size-h5;
$ls-input-fontweight: 300;
$ls-input-lineheight: $line-height-base;

$ls-input-padding-blurred: ($spacer-y / 1.5) 0;
$ls-input-padding-focused: ($spacer-y / 1.5) ($spacer-x * 1.5);

$ls-results-fontsize: $font-size-h6;
$ls-results-padding: ($spacer-y / 1.5) ($spacer-x * 1.5);
$ls-results-border-bottom: $ls-results-fontsize / 2.5;
$ls-results-countrycode-width: ($spacer-x * 2.5);

$ls-transition: all 0.25s;

$ls-color-dark: $gray-dark;
$ls-color-light: $gray-light;
$ls-color-lighter: $gray-lightest;
$ls-color-bg: #fff;
$ls-color-highlight: $brand-primary;

.LocationSearch {

  // SEARCH BAR STYLES START
  padding-bottom: $ls-margin-bottom;

  input {
    width: 100%;
    border: none;
    outline: 0;
  }

  input, .indicators>i {
    font-weight: $ls-input-fontweight;
    font-size: $ls-input-fontsize;
    line-height: $ls-input-lineheight;
  }

  .indicators {
    position: absolute; // relative parent: nearest col-...
    right: ($grid-gutter-width-base / 2); // need to add "gutter" padding, since this this is not a col-... element
    top: 0;
    i {
      position: absolute;
      top: 0;
      right: 0;
    }

    .status-dirty { // this one is clickable!
      cursor: pointer;
    }
  }
  // SEARCH BAR STYLES END

  // SEARCH BAR ANIMATIONS START
  input {
    background: $ls-color-bg;
  }
  &.focused input {
    background: $ls-color-light;
  }

  input, .indicators>i {
    padding: $ls-input-padding-blurred;
    color: $ls-color-light;
    transition: $ls-transition;
  }

  &.focused .indicators i, &.focused input {
    padding: $ls-input-padding-focused;
    color: $ls-color-bg;
  }

  .indicators>i {
    opacity: 0;
    &.visible {
      opacity: 1;
    }
  }
  // SEARCH BAR ANIMATIONS END

  // SEARCH RESULTS STYLES START
  ul {
    position: absolute;
    z-index: 1000;
    box-sizing: border-box;
    width: 100%;
    padding: 0 $grid-gutter-width-base 0 0; // remove ul padding and make this the same width as the search input box
    list-style: none;

    li {
      width: 100%;
      font-size: $ls-results-fontsize;
      font-weight: $ls-input-fontweight;
      padding: $ls-results-padding;
      background: $ls-color-lighter;
      color: $ls-color-dark;
      transition: $ls-transition;
      cursor: pointer; // clickables!

      .country-code {
        display: inline-block;
        text-align: center;
        color: $ls-color-light;
        width: $ls-results-countrycode-width;
      }

      &:last-child {
        border-bottom: $ls-results-border-bottom solid $ls-color-highlight;
        border-bottom-left-radius: $ls-results-border-bottom * 3;
        border-bottom-right-radius: $ls-results-border-bottom * 2;
      }

      &.active {
        background: $ls-color-highlight;
        color: $ls-color-bg;
      }

    }
  }
  // SEARCH RESULTS STYLES END

}
