@import "variables";
@import "~bootstrap/scss/_mixins";

$ls-input-fontsize: $font-size-h5;
$ls-input-fontweight: 300;
$ls-input-lineheight: $line-height-base;

$ls-input-padding-blurred: ($spacer-y / 1.5) 0;
$ls-input-padding-focused: ($spacer-y / 1.5) ($spacer-x * 1.5);

$ls-results-fontsize: $font-size-h6;
$ls-results-padding: ($spacer-y / 1.5) ($spacer-x * 1.5);
$ls-results-border-bottom: $ls-results-fontsize / 2.5;
$ls-results-countrycode-width: ($spacer-x * 2.5);

$ls-transition: opacity 0.2s, background 0.2s, padding 0.4s, max-height 0.4s linear;

$ls-color-dark: $gray;
$ls-color-light: $gray-light;
$ls-color-lighter: $gray-lightest;
$ls-color-bg: #fff;
$ls-color-highlight: $brand-primary;

.location-search {
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(xs) {
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    width: 100%;
  }
  @include media-breakpoint-up(lg) {
    width: 64%;
  }
  @include media-breakpoint-up(xl) {
    width: 50%;
  }

  &.content-raised {
    .searchbox, .results ul {
      box-shadow: $box-shadow-3;
    }
  }
  // SEARCHBOX STYLES START
  .searchbox {
    position: relative;

    input {
      width: 100%;
      border: none;
      outline: 0;
      border-radius: 0;
    }

    input, .indicators>i {
      font-weight: $ls-input-fontweight;
      font-size: $ls-input-fontsize;
      line-height: $ls-input-lineheight;
    }

    .indicators {
      position: absolute;
      right: 0;
      top: 0;
      i {
        position: absolute;
        top: 0;
        right: 0;
      }

      .status-dirty { // this one is clickable!
        cursor: pointer;
      }
    }

  }
  // SEARCHBOX STYLES END

  // SEARHCBOX ANIMATIONS START
  .searchbox{

    input {
      background: $ls-color-bg;
    }

    &.focused input {
      background: $ls-color-light;
    }

    input, .indicators>i {
      padding: $ls-input-padding-blurred;
      color: $ls-color-light;
      transition: $ls-transition;
    }

    &.focused .indicators i, &.focused input {
      padding: $ls-input-padding-focused;
      color: $ls-color-bg;
    }

    .indicators>i {
      opacity: 0;
      &.visible {
        opacity: 1;
      }
    }

  }
  // SEARHCBOX ANIMATIONS END

  // SEARCH RESULTS STYLES START
  .results {

    position: relative;
    ul {
      position: absolute;
      width: 100%;
      z-index: 1000;
      //remove default styles
      padding: 0;
      list-style: none;
      // bottom border - will be animated!
      border-bottom: $ls-results-border-bottom solid $ls-color-highlight;
      border-bottom-left-radius: $ls-results-border-bottom * 2;
      border-bottom-right-radius: $ls-results-border-bottom * 2;
      // scrollable results
      max-height: 70vh;
      overflow-y: auto;

      li {
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        font-size: $ls-results-fontsize;
        font-weight: $ls-input-fontweight;
        padding: $ls-results-padding;
        background: $ls-color-lighter;
        color: $ls-color-dark;
        cursor: pointer; // clickables!

        .country-code {
          display: inline-block;
          text-align: center;
          color: $ls-color-light;
          width: $ls-results-countrycode-width;
        }

        &.active {
          background: $ls-color-highlight;
          color: $ls-color-bg;
        }

      }
    }
  }
  // SEARCH RESULTS STYLES END

  // SEARCH RESULTS ANIMATIONS START
  .results {

    ul {
      transition: $ls-transition;
      li {
        transition: $ls-transition;
        max-height: 5rem;
      }
    }

    .results_ul-enter {
      border-bottom: 0 solid $ls-color-highlight !important;
    }

    .results_ul-leave-active {
      border-bottom: 0 solid $ls-color-highlight !important;
    }

    .results_li-enter {
      max-height: 0rem !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .results_li-leave-active {
      max-height: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
  // SEARCH RESULTS ANIMATIONS END

}
