@import "variables";

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);

  transition: opacity $tr1;

  &.clickable {
    cursor: pointer;
  }
}

.overlay-enter, .overlay-leave-active{
  opacity: 0 !important;
}
