@import "variables";

// TODO: clean this mess up

.content,
.menu,
.offcanvas,
.trigger,
.trigger > i {
  transition: opacity $tr1, transform $tr2, background $tr2, color $tr2, box-shadow $tr3;
}
// usage of z-index in component CSS is not advised
// layers be like:

.offcanvas {
  //base layer, below everything else
  z-index: 0;

  .content {
    // all the content
    z-index: 500;
  }

  .overlay {
    // an opaque clickshield above the content, all components use this
    z-index: 1000;
  }

  .content-raised {
    // components should use this class whenever an item should be highlighted
    // like: modals, active inputs etc.
    // the .content-overlay is set to .visible and the active content is
    // given the class .content-raised
    z-index: 2000;
  }

  .menu {
    // the offcanvas menu is ABOVE ALL...
    z-index: 1500;
  }

  .trigger {
    // ... but the trigger is even higher - content is guaranteed to be below
    z-index: 2500;
  }
}

.offcanvas {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .menu {
    // background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .trigger {
    background: $brand-primary;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;

    i {
      margin-top: 1rem;
      font-size: 2rem;
      color: #fff;
      cursor: pointer;
    }
    box-shadow: $box-shadow-2;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  // TRANSFORMS, ANIMATIONS
  .menu {
    transform: translateX(-100%);
  }

  .trigger {

    &.hide {
      transform: translateX(-15rem);
    }
  }

  @media (min-width: #{map-get($grid-breakpoints, xs)}) and (max-width: #{map-get($grid-breakpoints, sm)}) {
    .menu {
      width: 80%;
    }

    .trigger {}

    &.open {
      .menu {
        transform: translateX(0);
      }

      .trigger {}

      .content {
        transform: translateX(90%);
      }
    }
  }
  @media (min-width: #{map-get($grid-breakpoints, sm)}) and (max-width: #{map-get($grid-breakpoints, xl)}) {
    .menu {
      width: 40%;
    }

    .trigger {}

    &.open {
      .menu {
        transform: translateX(0);
      }

      .trigger {}

      .content {
        transform: translateX(50%);
      }
    }
  }
  @media (min-width: #{map-get($grid-breakpoints, xl)}) {
    .menu {
      width: 20%;
    }

    .trigger {}

    &.open {
      .menu {
        transform: translateX(0);
      }

      .trigger {}

      .content {
        transform: translateX(25%);
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    transition: opacity $tr2;

    &.clickable {
      cursor: pointer;
    }
  }

  .overlay-enter,
  .overlay-leave-active {
    opacity: 0 !important;
  }
}
